body {
  background-color: #31b6fd;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-logo {
  width: 15%;
  height: auto;
  pointer-events: none;
}

.loading-header {
  color: white;
  font-style: italic;
  font-weight: 300;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-float infinite 3s ease-in-out;
  }
}

@keyframes app-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.load {
  width: 25%;
  height: auto;
}
